.header {
    background-color: #1d2125;
    padding: 7px 15px;
    color: #9fadbc;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    z-index: 0;
    &_menuIcon{
        display: none !important;
        cursor: pointer;
    }
    &_menuBlock{
        position: absolute;
        top: 35px;
        left: 0px;
        display: flex;
        flex-direction: column;
        border-radius: 25px;
        background-color: #1d2836;
        color: aliceblue;
        z-index: 2000;
        gap: 10px;
        padding: 50px 0;
        
        .header_navbar_textBlock{
            cursor: pointer;
        }
        transition: 400ms ease;
        
    }
   
    &_menuBlockClose{
        width: 0;
        height: 0;
        .header_navbar_iconTreloBlock{
            display: none;
        }
        .header_navbar_textBlock{
            display: none;
        }
        .header_navbar_search{
            display: none;
        }
        
       
    }
    &_navbar {
        display: flex;
        gap: 10px;

        &_buttonBlock {
            padding: 5px;
            
        }

        &_iconTreloBlock {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &_textBlock {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            border-radius: 8px;
            padding: 1px 15px;
            transition: all ease 300ms;

            &:hover {
                background-color: #9fadbc3f;
            }
        }

        &_search {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            padding: 0 5px;
            gap: 15px;
            background-color: #579dff;
            cursor: pointer;
            align-self: center;
            border-radius: 4px;
            transition: all ease-in-out 200ms;

            span {
                color: #1d2125;
            }

            &:hover {
                background-color: #579dffda;
            }
        }
    }

    &_search_block {
        display: flex;
        gap: 2vw;
        position: relative;
        align-self: center;


        &_inputBlock {
            input {
                padding-top: 8px;
                padding-bottom: 10px;
                padding-left: 35px;
                background-color: #1d2125;
                color: white;
                border: 1px solid white;
                border-radius: 1rem;
            }

            &_icon {
                position: absolute;
                top: 5px;
                left: 5px;
                padding: 2px;
                cursor: pointer;
            }
        }

        &_userBlock {
            display: flex;
            gap: 8px;
        }
    }
    @media (min-width:1295px) {
        &_menuBlock{
            display: none;
        }
    }
    @media (max-width: 1295px) {
        &_navbar{
            display: none;
        }
        &_menuIcon{
            display: block !important;
            color: #9fadbc;
            margin-right: 15px;
        }
        
    }
    @media (max-width: 895px) {
        
        .header_search_block_userBlock{
            display: none;
        }

        .header_menuBlock{
            .iconsBlock{
                display: flex !important;
                flex-direction: column;
                align-items: center;
                
            }
        }
        
        
        
    }
   
}
.k7{
        position: absolute;
        top: 50px;
        right: 0px;
        border-radius: 25px;
        background-color: #1d2836;
        color: aliceblue;
        z-index: 2000;
        padding: 10px 30px;
        height: max-content;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 25px ;
        .dosk {
            display: flex;

            p {
                background-color: #DFE1E6;
                color: #16191C;
                padding: 3px 20px;
                line-height: 140%;
                cursor: pointer;
                border-radius: 4px;
            }

            .img {
                font-size: 30px;
                cursor: pointer;
            }
        }
        p{
            cursor: pointer;
            padding: 2px 5px;
            border-radius: 15px;
            &:hover{
                background-color: #579dff;
            }

        }
        h3{
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }
        }
        .text{
            padding: 2px 5px;
            display: flex;
            gap: 15px;
            border-radius: 15px;
            cursor: pointer;
            &:hover{
                background-color: #579dff;
            }
        }
}
.iconsBlock{
    display: none !important;
}

.menuHeader{
    display: none !important;
}
@media (max-width: 895px){
    .menuHeader{
        display: block !important;
        cursor: pointer;
    }
}
@media (min-width: 895px){
    .k7{
        display: none;
    }
}
.k6{
    display: none;
}